<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.blog.mapper.CommentMapper">

    <insert id="insertComment" parameterType="comment">
        insert into zj_comments (cid,cvalue,toblogid,createuid,createtime,delflg)
         values (#{cid},#{cvalue},#{toblogid},#{createuid},#{createtime},#{delflg})
    </insert>

    <select id="selectComments" parameterType="map" resultType="map">
        select a.cid,a.cvalue,a.createtime,b.uname,b.img from zj_comments a left join zj_user b on a.createuid = b.uid
        where a.toblogid = #{toblogid} and a.delflg = '00'
        order by a.createtime desc
        <if test="offset != null and size != null">
            limit #{offset},#{size}
        </if>

    </select>

    <select id="selectAllCommentsNum" parameterType="string" resultType="integer">
        select count(1) from zj_comments where toblogid = #{bid} and delflg = '00'
    </select>



</mapper>